
*.pyc
*.json
tmp/sac/critic_2_sac
tmp/sac/critic_1_sac
tmp/sac/actor_sac
tmp/sac/target_value_sac
tmp/sac/value_sac
.ipynb_checkpoints/Stein-checkpoint.ipynb
*.ipynb
tmp/sql/Sampler_Sampler
tmp/sql/ActionValueNetwork_sql
*.npy
